<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="icon" href="img/favicon.png">
	<title>POPSCOOT</title>
	
	<link rel="stylesheet" href="/lib/roboto-fontface/css/roboto/roboto-fontface.css">
	<link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/lib/angular-material/angular-material.min.css">
	<link rel="stylesheet" href="/lib/lf-ng-md-file-input/dist/lf-ng-md-file-input.css">
	<link rel="stylesheet" href="/lib/mdPickers/dist/mdPickers.css">
	<link rel="stylesheet" href="/lib/mdPickers/dist/mdPickers.min.css">
	<link rel="stylesheet" href="/lib/ng-material-datetimepicker/dist/material-datetimepicker.min.css">
	<link rel="stylesheet" href="/css/style.css">
	
</head>
<body>
	<div id="root" ng-app="POPSCOOT">
		<div flex ng-controller="RootCtrl">
			<md-progress-linear md-mode="indeterminate" class="md-accent popscoot-loading-bar" ng-if="getLoad"></md-progress-linear>
			<div layout="row">
				<md-sidenav class="md-sidenav-left popscoot-sidenav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" md-whiteframe="4" ng-style="{'min-height': browserHeight + 'px'}">
					<md-toolbar id='profileInfo' class="md-theme-indigo popscoot logo" layout-padding ng-click="popWebsite()">
					</md-toolbar>
					<md-content>
						<md-list>
							<md-list-item class="md-1-line" ng-repeat="item in menu.main" ng-hide="item.hide" ng-click="goPage(item.path, $index)"  ng-class="{selected: selected === $index}">
								<div class="md-avatar" ng-style="item.margin">
									<i class="{{item.icon}} fa-lg fa-fw" aria-hidden="true"></i>
								</div>
								<div layout="row" layout-align="space-between center">
									<p class="large" ng-bind="item.name | translate"></p>
									<i ng-if="item.icon2 && !item.colapsed" class="{{item.icon2.folded}} fa-lg fa-fw" aria-hidden="true" ></i>
									<i ng-if="item.icon2 && item.colapsed" class="{{item.icon2.colapsed}} fa-lg fa-fw" aria-hidden="true" ></i>
								</div>		
								<md-divider></md-divider>					
							</md-list-item>
						</md-list>
					</md-content>
				</md-sidenav>
				<div flex>
					<md-toolbar class="md-hue-2 popscoot">
						<div class="md-toolbar-tools">
							<md-button class="md-icon-button" ng-click="openLeftMenu()" hide-gt-md>
								<i class="fa fa-bars fa-2x" aria-hidden="true" ></i>
							</md-button>
							<h2 flex md-truncate>
								<md-button ng-click="goHome()" class="large" >
									<span ng-bind="'Home' | translate"></span>
									<i class="fa fa-angle-right" aria-hidden="true"></i>
								</md-button>
								<md-button ng-disabled="$index == BCLength" ng-repeat="item in breadcrumbs track by $index" ng-click="goBC(item.url, $index)" class="large BC">
									<span ng-bind="item.name |translate"></span>
									<i ng-hide="$index == BCLength" class="fa fa-angle-right" aria-hidden="true"></i>
								</md-button>
							</h2>

							<md-menu md-offset="0 50">
								<md-button aria-label="Open phone interactions menu" ng-click="openMenu($mdMenu, $event)">
									<span ng-bind="languageDisplay"></span>
									<i class="fa fa-cog fa-fw" aria-hidden="true"></i>
								</md-button>
								<md-menu-content width="4">
									<md-menu-item>
										<md-button ng-click="changeLanguage('ch')" class="large" ng-bind="'chinese'|translate"></md-button>
									</md-menu-item>
									<md-menu-divider></md-menu-divider>
									<md-menu-item layout-align="end end">
										<md-button ng-click="changeLanguage('en')" class="large" ng-bind="'english'|translate"></md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
							<span class="large" ng-bind="Laccount.email"></span>
							<md-menu md-offset="0 50">
								<md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="openMenu($mdMenu, $event)">
									<div class="avatar-icon" ng-style="Laccount.avatar.url|bg_css" ng-bind="Laccount.username.split('')[0]"></div>
								</md-button>
								<md-menu-content width="4">
									<md-menu-item>
										<md-button ng-href="{{path+Laccount.accountId}}">
											<i class="fa fa-fw" ng-class="icons.profile"></i>
											<span ng-bind="'profile'|translate|text_fmt:1"></span>
										</md-button>
									</md-menu-item>
									<md-menu-divider></md-menu-divider>
									<md-menu-item layout-align="end end">
										<md-button aria-label="More" ng-click="goPage(menu.logout.path)">
											<i class="fa fa-fw" ng-class="icons.logout"></i>
											<span ng-bind="'logout'|translate|text_fmt:1"></span>
										</md-button>
									</md-menu-item>
								</md-menu-content>
							</md-menu>
						</div>
					</md-toolbar>
					<md-content>
						<ng-view id="view"></ng-view>	
					</md-content>
				</div>
			</div>
		</div>
	</div>

<script src="/lib/moment/min/moment.min.js"></script>
<script src="/lib/angular/angular.min.js"></script>
<script src="/lib/angular-route/angular-route.min.js"></script>
<script src="/lib/angular-aria/angular-aria.min.js"></script>
<script src="/lib/angular-animate/angular-animate.min.js"></script>
<script src="/lib/angular-material/angular-material.min.js"></script>
<script src="/lib/angular-avatar/dist/angular-avatar.js"></script>
<script src="/lib/lf-ng-md-file-input/dist/lf-ng-md-file-input.js"></script>
<script src="/lib/ng-file-upload/dist/ng-file-upload.js"></script>
<script src="/lib/angular-drag-and-drop-lists/angular-drag-and-drop-lists.min.js"></script>
<script src="/lib/angular-translate/dist/angular-translate.min.js"></script>
<script src="/lib/mdPickers/dist/mdPickers.js"></script>
<script src="/lib/mdPickers/dist/mdPickers.min.js"></script>
<script src="/lib/ng-material-datetimepicker/dist/angular-material-datetimepicker.min.js"></script>
<script src="/lib/chart.js/dist/Chart.min.js"></script>
<script src="/lib/angular-chart.js/dist/angular-chart.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>