<div layout="row" layout-wrap layout-padding>
	<div flex="100">
		<!-- profile -->
		<HEAD>account</HEAD>
		{{account}}
	</div>
	<div flex="100">
		<!-- bookings -->
		<HEAD>bookings</HEAD>
		<md-button ng-repeat="item in bookings" ng-href="#/bookings/{{item.bookingId}}">{{item.bookingId}}</md-button>
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>banks</HEAD>		
		<md-button ng-repeat="item in banks" ng-href="#/banks/{{item.bankId}}">{{item.bankId}}</md-button>			
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>enquiries</HEAD>
		<md-button ng-repeat="item in enquiries" ng-href="#/enquiries/{{item.enquiryId}}">{{item.enquiryId}}</md-button>			
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>payments</HEAD>
		<md-button ng-repeat="item in payments" ng-href="#/payments/{{item.paymentId}}">{{item.paymentId}}</md-button>
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>transactions</HEAD>
		<md-button ng-repeat="item in transactions" ng-href="#/transactions/{{item.transactionId}}">{{item.transactionId}}</md-button>
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>shareLogs</HEAD>
		<md-button ng-repeat="item in shareLogs" ng-href="#/shareLogs/{{item.shareLogId}}">{{item.shareLogId}}</md-button>
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>pushTokens</HEAD>
		<md-button ng-repeat="item in pushTokens" ng-href="#/pushTokens/{{item.pushTokenId}}">{{item.pushTokenId}}</md-button>
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>promotions</HEAD>
		<md-button ng-repeat="item in promotions" ng-href="#/promotions/{{item.promotionId}}">{{item.promotionId}}</md-button>
	</div>
</div>
