<md-content layout="row" layout-wrap layout-padding  style="overflow: scroll">
	<div flex="100">
		<!-- profile -->
		<md-button ng-href="#/accounts">accountList</md-button>
		{{account}}
		<md-button ng-href="#/accounts/1">updated</md-button>
		<md-button ng-href="#/accounts">deleted</md-button>
	</div>
	<div flex="100">
		<!-- bookings -->
		<HEAD>bookings</HEAD>
		<md-button ng-repeat="item in bookings" ng-href="#/bookings/{{item.bookingId}}">{{item.bookingId}}</md-button>
		<md-button ng-href="#/new/booking">Create booking</md-button>
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>banks</HEAD>
		<div ng-repeat="item in banks">
			{{item}}
			<md-button ng-href="#/banks/{{item.bankId}}">details</md-button>
		</div>
		<md-button ng-href="#/new/bank" ng-show="!hasBank">Create bank</md-button>
		<md-button ng-href="#/accounts/1" ng-show="!hasBank">Add bank</md-button>		
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>enquiries</HEAD>
		<md-button ng-repeat="item in enquiries" ng-href="#/enquiries/{{item.enquiryId}}">{{item.enquiryId}}</md-button>			
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>payments</HEAD>
		<md-button ng-repeat="item in payments" ng-href="#/payments/{{item.paymentId}}">{{item.paymentId}}</md-button>
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>transactions</HEAD>
		<md-button ng-repeat="item in transactions" ng-href="#/transactions/{{item.transactionId}}">{{item.transactionId}}</md-button>
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>shareLogs</HEAD>
		<md-button ng-repeat="item in shareLogs" ng-href="#/shareLogs/{{item.shareLogId}}">{{item.shareLogId}}</md-button>
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>pushTokens</HEAD>
		<md-button ng-repeat="item in pushTokens" ng-href="#/pushTokens/{{item.pushTokenId}}">{{item.pushTokenId}}</md-button>
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>promotions</HEAD>
		<div ng-repeat="item in promotions">
			{{item}}
			<md-button ng-href="#/promotions/{{item.promotionId}}">details</md-button>
			<md-button ng-href="#/accounts/5">remove</md-button>
		</div>
		<md-button ng-href="#/new/accountPromo">apply promotion</md-button>
	</div>

</md-content>
