<div>
	<div flex>
		<md-card>
			<div layout="row" layout-align="space-between center" layout-padding>
				<div>
					<span>Create New Bank</span>
					<md-button class="md-raised md-icon-button" ng-href="#/new/bank">           
						<i class="fa fa-plus"></i>
					</md-button>
				</div>		
				<div layout="row" layout-align="start center" layout-padding>
					<span>Items Per Page</span>
					<md-select ng-model="itemsPerPage" placeholder="Item per page">
						<md-option value=10>10</md-option>
						<md-option value=20>20</md-option>
						<md-option value=30>30</md-option>
					</md-select>
					<span>Order by</span>
					<md-select ng-model="itemsOrder" placeholder="Item per page">
						<md-option value="date" ng-click="order()">Latest</md-option>
						<md-option value="username" ng-click="order()">Username</md-option>
						<md-option value="active" ng-click="order()">Active</md-option>
					</md-select>				
				</div> 	
			</div>
			<md-divider></md-divider>
			<md-content layout="row" layout-wrap>
				<H2 ng-if="banks.length === 0">There are currently no banks</H2>
				<div ng-repeat="item in banks|paginate:currentPageNumber:itemsPerPage|orderBy:itemsOrder:reverse" flex="100" flex-gt-xs="50" flex-gt-md="33">
					<md-card id="bookingCard">
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">Bank ID: {{item.bankId}}</span>
								<span class="sub-head">Deposit: {{ item.deposit }}</span>
								<span class="sub-head">Cash Amount: {{ item.cash }}</span>
								<span class="sub-head">Stamps: {{item.stamps}}</span>								
								<span class="sub-head">Create Date: {{ item.date|rd:0}}</span>	
								<span class="sub-head">
									By: <a ng-href="{{'#/accounts/'+item.account.accountId}}">{{item.account.username}}</a>
								</span>					
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end center">							
							<md-button class="md-raised" ng-href="{{path+item.bankId}}">Details</md-button>	
						</md-card-actions>
					</md-card>

				</div>
			</md-content>
			<div layout="row" layout-align="space-around center">
				<md-button ng-disable="currentPageNumber === 1" class="md-raised" ng-click="pageDown()">Prev</md-button>
				<md-button class="md-raised" ng-click="pageUp()">Next</md-button>
			</div>
		</div>
	</md-card>


</div>
</div>