<div flex flex-gt-md="50">
	<md-card>
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline">{{'booking'|translate}}: {{booking.bookingId}}</span>
				<span class="md-subhead">{{'date'|translate}}: {{booking.date|rd:0}}</span>
			</md-card-title-text>
		</md-card-title>
		<md-content layout-padding>
			<div>
				<form name="userForm" ng-submit="updateBooking()">

					<div layout-align="center center">
						<md-input-container class="md-block"> 
							<label>{{'outsetLockId'|translate}}</label>
							<md-icon><i class="fa fa-map-marker" aria-hidden="true"></i></md-icon>							
							<input ng-model="booking.outsetLockId">
						</md-input-container>
						<md-input-container class="md-block"">
							<label>{{'destinationLockId'|translate}}</label>
							<md-icon><i class="fa fa-map-marker" aria-hidden="true"></i></md-icon>					
							<input ng-model="booking.destinationLockId">
						</md-input-container>
						<md-input-container class="md-block">
							<label>Start</label>
							<md-icon><i class="fa fa-play"></i></md-icon>
							<input ng-model="booking.startDate" mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
							placeholder="Date" show-todays-date="" min-date="date" ng-model="dateTime" class=" md-input"
							readonly="readonly">
						</md-input-container>
						<md-input-container class="md-block">
							<label>End</label>
							<md-icon><i class="fa fa-stop"></i></md-icon>
							<input ng-model="booking.endDate" mdc-datetime-picker="" date="true" time="true" type="text" id="datetime"
							placeholder="Date" show-todays-date="" min-date="date" ng-model="dateTime" class=" md-input"
							readonly="readonly">
						</md-input-container>	
						<md-input-container class="md-block"> 
							<label>{{'price'|translate}}</label>
							<md-icon><i class="fa fa-usd" aria-hidden="true"></i></md-icon>					
							<input ng-model="booking.price" type="">
						</md-input-container>
						<md-input-container class="md-block">
							<label>{{'remarks'|translate}}</label>
							<md-icon><i class="fa fa-comment" aria-hidden="true"></i></md-icon>					
							<input ng-model="booking.remark"></md-datepicker>
						</md-input-container>		
					</div>

					<div layout-gt-xs="row" layout-align="space-between center" layout-padding>
						<div>
							<md-button class="md-raised" ng-href="#/accounts/{{booking.account.accountId}}"><i class="fa fa-user fa-fw" aria-hidden="true"></i>
							{{booking.account.username}}</md-button>
						</div>
						<div>	
							<md-button class="md-raised" ng-href="#/scooters/{{booking.scooter.scooterId}}"><i class="fa fa-motorcycle fa-fw" aria-hidden="true"></i>
							{{booking.scooter.integrateId}}</md-button>
						</div>
					</div>
					<md-divider></md-divider>
					<div flex layout="row">
						<md-button ng-disabled="booking.status!==1" flex="33" class="md-raised" ng-click="start($event)"><i class="fa fa-play" aria-hidden="true"></i>
						{{'start'|translate}}</md-button>
						<md-button ng-disabled="booking.status!==2" flex="33" class="md-raised" ng-click="end($event)"><i class="fa fa-stop" aria-hidden="true"></i>
						{{'end'|translate}}</md-button>
						<md-button ng-disabled="booking.status!==1" flex="33" class="md-raised md-warn" ng-click="cancel($event)"><i class="fa fa-times" aria-hidden="true"></i>
						{{'cancel'|translate}}</md-button>
					</div>
					<md-divider></md-divider>
					<div flex layout="row">					
						<md-button class="md-primary md-raised popscoot-primary" flex="50" type="submit" ng-disabled="updatescooterForm.$invalid">{{'update'|translate}}</md-button>
						<md-button class="md-warn md-raised" flex="50" ng-click="showPrompt($event)">{{'delete'|translate}}</md-button>
					</div>

				</form>
			</div>
		</md-content>
		
	</md-card>
</div>
