<div layout="row" layout-wrap layout-padding>
	<div flex="100">
		<!-- profile -->
		<HEAD>booking</HEAD>
		<md-button ng-href="#/bookings">bookingList</md-button>
		{{booking}}
		<md-button ng-href="#/bookings/1">updated</md-button>
		<md-button ng-href="#/bookings">deleted</md-button>
	</div>
	<div flex="100">
		<!-- profile -->
		<HEAD>scooter</HEAD>
		<md-button ng-href="#/scooters/{{booking.scooter.scooterId}}">{{booking.scooter.scooterId}}</md-button>
	</div>
	<div flex="100">
		<!-- profile -->
		<HEAD>account</HEAD>
		<md-button ng-href="#/accounts/{{booking.account.accountId}}">{{booking.account.accountId}}</md-button>
	</div>
	</div>
</div>