<div layout="row" layout-wrap layout-padding>
	<div flex="100">
		<!-- profile -->
		<HEAD>payment</HEAD>
		<md-button ng-href="#/payments">paymentList</md-button>
		{{payment}}		
		<md-button ng-href="#/payments/1">updated</md-button>
		<md-button ng-href="#/payments">deleted</md-button>
	</div>
	<div flex="100">
		<!-- profile -->
		<HEAD>account</HEAD>
		<md-button ng-href="#/accounts/{{payment.account.accountId}}">{{payment.account.accountId}}</md-button>
	</div>
	<div flex="100">
		<!-- profile -->
		<HEAD>transactions</HEAD>
		<p ng-repeat="item in transactions">{{item}}</p>
	</div>
</div>