<div layout="row" layout-wrap layout-padding>
	<div flex="100">
		<!-- profile -->
		<HEAD>promotion</HEAD>
		<md-button ng-href="#/promotions">promotionList</md-button>
		{{promotion}}		
		<md-button ng-href="#/promotions/1">updated</md-button>
		<md-button ng-href="#/promotions">deleted</md-button>		
	</div>
	<div flex="100">
		<!-- banks -->
		<HEAD>accounts</HEAD>
		<md-button ng-repeat="item in accounts" ng-href="#/accounts/{{item.accountId}}">{{item.accountId}}</md-button>			
		<md-button ng-href="#/new/accountPromo">Add account</md-button>
	</div>
</div>