
<div layout="row" layout-align="center center">

	<div style="width: 400px">
		<div ng-style="{'height': (browserHeight/6)+ 'px'}" hide-xs hide-sm>	
		</div>
		<md-content ng-if="!success" layout-padding>
			<md-card id="test">
				<md-card-title>
					<md-card-title-text class="md-headline">		
						Change password
					</md-card-title-text>
					<md-card-title-text ng-if="display" class="md-headline">
						{{display}}
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<form name="form1" ng-submit="requestSecret()">
						<md-input-container class="md-block">
							<label>Registered Email</label>
							<input type="Email" ng-model="email" required>
						</md-input-container>
						
						<div layout=row>
							<md-button flex="100" type="submit" class="md-raised md-primary md-padding" ng-disabled="form1.$invalid">Send Email</md-button>
						</div>
						<div layout="row" layout-align="center center">
							<span style="padding-top: 5px; padding-bottom: 5px;">
								<a href="#/login">Back to login page</a>
							</span>
						</div>
					</form>
				</md-card-content>
			</md-card>
		</md-content>
		<md-content ng-if="success" layout-padding>
			<md-card id="test">
				<md-card-title>
					<md-card-title-text class="md-headline">
						Change password
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<form name="form1" ng-submit="updatePassword()">
						<md-input-container class="md-block">
							<label>Please enter the secret key in the email...</label>
							<input ng-model="updatePWForm.secret" required>
						</md-input-container>
						<md-input-container class="md-block">
							<label>New Password</label>
							<input ng-model="updatePWForm.password" type="password" required>
						</md-input-container>
						
						<div layout=row>
							<md-button flex="100" type="submit" class="md-raised md-primary md-padding" ng-disabled="form1.$invalid">Change Password</md-button>
						</div>
						<div layout="row" layout-align="center center">
							<span style="padding-top: 5px; padding-bottom: 5px;">
								<a href="#/login">Back to login page</a>
							</span>
						</div>
					</form>
				</md-card-content>
			</md-card>
		</md-content>
	</div>
</div>





<!-- <md-button ng-href="#/forgetPassword" class="md-raised md-padding">forget password</md-button>	 -->
