
<div layout="row" layout-align="center center">

	<div style="width: 400px">
		<div ng-style="{'height': (browserHeight/6)+ 'px'}" hide-xs hide-sm>	
		</div>
		<md-card ng-if="!success" id="test">
			<md-card-title>
				<md-card-title-text class="md-headline">
					Forget password
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<form name="form1" ng-submit="forgetPassword()">
					<md-input-container class="md-block">
						<label>Registered Email</label>
						<input type="Email" ng-model="form.email" required>
						<div ng-messages="form1.Email.$error">
							<div ng-message="required">Please enter Email</div>
						</div>
					</md-input-container>
					
					<div layout=row>
						<md-button flex="100" type="submit" class="md-raised md-primary md-padding" ng-disabled="form1.$invalid">Send Email</md-button>
					</div>
					<div layout="row" layout-align="start center">
						<span style="padding-top: 5px; padding-bottom: 5px;">
							<a href="#/login">Back to login page</a>
						</span>
					</div>
				</form>
			</md-card-content>
		</md-card>
		<md-card ng-if="success" id="test2">
			<md-card-title>
				<md-card-title-text class="md-headline">
					Update password
					{{updatePWForm}}
				</md-card-title-text>
			</md-card-title>
			<md-card-content>
				<form name="form1" ng-submit="updatePassword()">
					<md-input-container class="md-block">
						<label>Please enter the secret key in the email...</label>
						<input ng-model="updatePWForm.secret" required>
					</md-input-container>
					<md-input-container class="md-block">
						<label>New Password</label>
						<input ng-model="updatePWForm.password" type="password" required>
					</md-input-container>
					
					<div layout=row>
						<md-button flex="100" type="submit" class="md-raised md-primary md-padding" ng-disabled="form1.$invalid">Change Password</md-button>
					</div>
					<div layout="row" layout-align="center center">
						<span style="padding-top: 5px; padding-bottom: 5px;">
							<a href="#/login">Back to login page</a>
						</span>
					</div>
				</form>
			</md-card-content>
		</md-card>
	</div>
</div>





<!-- <md-button ng-href="#/forgetPassword" class="md-raised md-padding">forget password</md-button>	 -->
