
<div layout="row" layout-align="center center">

	<div style="width: 400px">
		<div ng-style="{'height': (browserHeight/6)+ 'px'}" hide-xs hide-sm>	
		</div>
		<md-content layout-padding>
			<md-card id="test">
				<md-card-title>
					<md-card-title-text class="md-headline">
						Register
					</md-card-title-text>
				</md-card-title>
				<md-card-content>
					<form name="form1" ng-submit="register()">
						<md-input-container class="md-block">
							<label>Email</label>
							<input type="Email" ng-model="form.email" required>
							<div ng-messages="form1.Email.$error">
								<div ng-message="required">Please enter Email</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Username</label>
							<input ng-model="form.username" name="Username" required >
							<div ng-messages="form1.Username.$error">
								<div ng-message="required">Please enter username</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Password</label>
							<input type="password" name="password" ng-model="form.password" required>
							<div ng-messages="form1.password.$error">
								<div ng-message="required">Please enter password</div>
							</div>
						</md-input-container>
						<md-input-container class="md-block">
							<label>Repeat Password</label>
							<input type="password" name="repeatPassword" ng-model="form.repeatPassword" required compare-to="form.password">
							<div ng-messages="form1.repeatPassword.$error" multiple md-auto-hide="false">
								<div ng-message="required">Please enter password</div>
								<div ng-message="compare-to">Password mismatch</div>
							</div>
						</md-input-container>
						<div layout=row>
							<md-button flex="100" type="submit" class="md-raised md-primary md-padding" ng-disabled="form1.$invalid">Register</md-button>
						</div>
						<div layout="row" layout-align="center center">
							<span style="padding-top: 5px; padding-bottom: 5px;">
								<a href="#/login">Back to login page</a>
							</span>
						</div>
					</form>
				</md-card-content>
			</md-card>
		</md-content>
	</div>
</div>





<!-- <md-button ng-href="#/forgetPassword" class="md-raised md-padding">forget password</md-button>	 -->
<!-- exist-username="form.username" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 3000, 'blur': 0} }" -->