<md-content id="accountPage" layout-gt-sm="row" layout-padding>
	<div flex flex-md="35" flex-gt-md="30">
		<h2 class="title large acc-title">{{'basicInformation'|translate}}</h2>
		<md-card>
			<md-card-title id="cardAccount">
				<md-card-title-text md-truncate class="popscoot-card">
					<span class="large">{{account.username}}</span>
				</md-card-title-text>

				<md-card-title-media>
					<div ng-if="!uploadImage" class="md-media-sm card-media avatar" ng-style="account.avatar.url|bg_css">   
						<md-button class="md-icon-button" ng-click="uploadPrompt()"><i class="fa fa-camera" aria-hidden="true"></i></md-button>
					</div>	

					<div ng-hide="!uploadImage" ngf-drop ngf-select ng-model="files" class="drop-box md-media-sm card-media" 
					ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
					accept="image/*" 
					ngf-pattern="'image/*'">
					<div ng-hide="preview" class="upload-box large">Drop images here or click to upload, {{uploadStatus}}</div>
					<div ng-hide="!preview" class="md-media-sm card-media img-preview" ng-style="dataUrl|bg_css"></div>
				</div>


			</md-card-title-media>

		</md-card-title>
		<div>
			<md-card-content layout-padding>
				<div>
					<form name="updateAccountForm" ng-submit="updateAccount()">

						<div layout-align="center center">
							<md-input-container class="md-block"> 
								<label class="large" form-label">{{'email' | translate}}</label>
								<input class="large form-input" ng-model="account.email" type="email" disabled>
							</md-input-container>
							<md-input-container class="md-block">
								<label class="large form-label">{{'facebookId' | translate}}</label>
								<input class="large form-input" ng-model="account.facebookId" disabled>
							</md-input-container>
							<md-input-container class="md-block">
								<label class="large form-label">{{'socialMedia' | translate}}</label>
								<input class="large form-input" ng-model="account.socialMedia" disabled>
							</md-input-container>
							<md-input-container class="md-block">
								<label class="large form-label">{{'tag' | translate}}</label>
								<input class="large form-input" ng-model="account.tag">
							</md-input-container>
							<div layout="row" layout-align="space-between center">									
								<md-input-container class="md-block">
									<label class="large">{{'birthday' | translate}}</label>
									<md-datepicker class="large" ng-model="account.birthday"></md-datepicker>
								</md-input-container>
								<md-switch class="large" ng-model="account.active" aria-label="Switch 1" ng-change="activate(account.accountId)"></md-switch>
							</div>
						</div>
						<div>

							<div flex layout="row">					
								<md-button class="md-primary md-raised large popscoot-primary" flex="50" type="submit" ng-disabled="updateAccountForm.$invalid">{{'update'|translate}}</md-button>
								<md-button class="md-warn md-raised large" flex="50" ng-click="showPrompt($event)">{{'delete'|translate}}</md-button>
							</div>
						</div>
					</form>
				</div>
			</md-card-content>

		</div>

	</md-card>
</div>
<div flex>
	<h2 class="title large acc-title">{{'details'|translate}}</h2>
	<md-card>
		<md-tabs md-dynamic-height md-border-bottom class="account-tabs">
			<md-tab>
				<md-tab-label class="medium">
					<i class="fa fa-book fa-fw"></i>
					{{'booking'|translate}}
				</md-tab-label>
				<md-tab-body>
					<div ng-if="bookings.length === 0" layout-padding layout-align="center start">
						<H2>{{'noBookings'|translate}}</H2>
						<md-button class="md-raised" ng-href="#/new/booking/acc{{account.accountId}}"><i class="fa fa-plus"></i></md-button>
					</div>
					
					<md-card ng-if="bookings.length !== 0">
						<div layout="row" layout-align="space-between center" layout-padding>
							<div layout="row" layout-align="start center" layout-padding>

								<span>{{'orderBy'|translate}}</span>
								<md-select ng-model="itemsOrder" placeholder="Item per page">
									<md-option value="date" ng-click="order()">{{'latest'|translate}}</md-option>
									<md-option value="username" ng-click="order()">{{'username'|translate}}</md-option>
									<md-option value="active" ng-click="order()">{{'active'|translate}}</md-option>
								</md-select>
							</div> 
							<div>
								<span>{{'create'|translate}}</span>
								<md-button class="md-raised md-icon-button" ng-href="#/new/booking/acc{{account.accountId}}">           
									<i class="fa fa-plus-circle"></i>
								</md-button>
							</div>			
						</div>

						<md-divider></md-divider>

						<md-content layout="row" layout-wrap>				
							<div ng-repeat="item in bookings|orderBy:itemsOrder:reverse" flex="100" flex-gt-xs="50" flex-gt-md="33">
								<md-card id="bookingCard">
									<md-card-title>
										<md-card-title-text>
											<span class="md-headline large"><i class="fa fa-book fa-fw" aria-hidden="true"></i>
											{{'id'|translate|text_fmt:2}}: {{item.bookingId}}</span>
											<span class="sub-head medium"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
											{{'start'|translate}}: {{ item.startDate|rd:1 }}</span>
											<span class="sub-head medium"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>
											{{'end'|translate}}: {{ item.endDate|rd:1 }}</span>
											<span class="sub-head medium"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i>: {{ item.destinationName}}</span>
											<span class="sub-head medium">
												<i class="fa fa-motorcycle fa-fw" aria-hidden="true"></i>: <a class="sub-head" ng-href="{{'#/scooters/'+item.scooter.scooterId}}">{{item.scooter.name}}</a>		
											</span>
											<span class="sub-head medium"><i class="fa fa-book fa-fw"></i>: {{'status'|translate}}: {{item.status|booking_status|text_fmt: 1}}</span>					
										</md-card-title-text>
									</md-card-title>
									<md-card-actions layout="row" layout-align="end center">							
										<md-button class="md-raised" ng-href="{{'#/bookings/'+item.bookingId}}">{{'details'|translate}}</md-button>	
									</md-card-actions>
								</md-card>

							</div>
						</md-content>
					</md-card>
				</md-tab-body>			
			</md-tab>		
			<md-tab>
				<md-tab-label class="medium">
					<i class="fa fa-money fa-fw"></i>
					{{'bank'|translate}}
				</md-tab-label>
				<md-tab-body>
					<div ng-if="banks.length === 0" layout-padding layout-align="center start">							
						<H2>{{'noBanks'|translate}}</H2>
						<md-button class="md-raised" ng-href="#/new/bank/{{account.accountId}}"><i class="fa fa-plus"></i></md-button>
					</div>
					<div ng-if="banks.length !== 0" layout-padding layout-align="center start">
						<div flex="100" ng-repeat="item in banks">							
							<h3><i class="fa fa-credit-card"></i>
							{{'id'|translate}}: {{item.bankId}}</h3>
							<h4><i class="fa fa-money fa-fw"></i>
							{{'deposit'|translate}}: {{ item.deposit }}</h4>
							<h4><i class="fa fa-usd fa-fw"></i>
							{{'cash'|translate}}: {{ item.cash }}</h4>
							<p><i class="fa fa-circle fa-fw"></i>
							{{'stamps'|translate}}: {{item.stamps}}</p>	
							<p><i class="fa fa-calendar fa-fw"></i>
							{{'date'|translate}}: {{ item.date|rd:0}}</p>
							<md-button class="md-raised" ng-href="#/banks/{{item.bankId}}" >{{'details'|translate}}</md-button>
						</div>
						
					</div>
					
				</md-tab-body>	
			</md-tab>		
			<md-tab>
				<md-tab-label class="medium">
					<i class="fa fa-question-circle fa-fw"></i>
					{{'enquiry'|translate}}
				</md-tab-label>
				<md-tab-body>
					<div ng-if="enquiries.length === 0" layout-padding layout-align="center start">
						<H2>{{'noEnquiries'|translate}}</H2>
					</div>
					<div ng-if="enquiries.length !== 0" layout="row" layout-wrap>
						<div flex="100" flex-gt-xs="50" flex-gt-md="33" ng-repeat="item in enquiries">
							<md-card>
								<md-card-title>
									<md-card-title-text  md-truncate class="popscoot-card">
										<span class="medium">
										{{item.comment}}</span>
										<span class="small"><i class="fa fa-question fa-fw"></i>
										{{'enquiryId'|translate}}: {{item.enquiryId}}</span>
										<span class="small"><i class="fa fa-calendar fa-fw"></i>
										{{'date'|translate}}: {{item.date|rd:0}}</span>

									</md-card-title-text>
								</md-card-title>
								<md-card-actions layout="row" layout-align="end center"> 
									<md-button class="md-raised" ng-href="{{'#/enquiries/'+item.enquiryId}}">{{'details'|translate}}</md-button>
								</md-card-actions>
							</md-card>
						</div>
					</div>
				</md-tab-body>				
			</md-tab>		
			<md-tab>
				<md-tab-label class="medium">
					<i class="fa fa-credit-card fa-fw"></i>
					{{'payment'|translate}}
				</md-tab-label>
				<md-tab-body>
					<div ng-if="payments.length === 0" layout-padding layout-align="center start">
						<H2>{{'noPayments'|translate}}</H2>
						<md-button class="md-raised" ng-href="#/new/payment/{{account.accountId}}"><i class="fa fa-plus"></i></md-button>
					</div>
					<md-card ng-if="payments.length !== 0">
						<div layout="row" layout-align="start center" layout-padding>
							<div>
								<span>{{'create'|translate}}</span>
								<md-button class="md-raised md-icon-button" ng-href="#/new/payment">           
									<i class="fa fa-plus"></i>
								</md-button>
							</div>			
						</div>
						<md-divider></md-divider>

						<md-content layout="row" layout-wrap>
							<div ng-repeat="item in payments" flex="100" flex-gt-xs="50" flex-gt-md="33">
								<md-card id="bookingCard">
									<md-card-title>
										<md-card-title-text>
											<span class="md-headline large"><i class="fa fa-credit-card fa-fw"></i>
											{{'id'|translate|text_fmt:2}}: {{item.paymentId}}</span>
											<span class="sub-head medium"><i class="fa fa-cc-visa fa-fw"></i>
											{{'method'|translate}}: {{ item.method }}</span>
											<span class="sub-head medium"><i class="fa fa-asterisk fa-fw"></i>
											{{'credential1'|translate}}: {{ item.credential1}}</span>
											<span class="sub-head medium"><i class="fa fa-asterisk fa-fw"></i>
											{{'credential2'|translate}}: {{item.credential2}}</span>
											<span class="sub-head medium"><i class="fa fa-asterisk fa-fw"></i>
											{{'credential3'|translate}}: {{item.credential3}}</span>
											<span class="sub-head medium"><i class="fa fa-calendar fa-fw"></i>
											{{'date'|translate}}: {{item.date|rd:0}}</span>

										</md-card-title-text>
									</md-card-title>
									<md-card-actions layout="row" layout-align="end center">							
										<md-button class="md-raised medium" ng-href="#/payments/{{item.paymentId}}">{{'details'|translate}}</md-button>	
									</md-card-actions>
								</md-card>

							</div>
						</md-content>

					</md-card>
				</md-tab-body>

			</md-tab>		
			<md-tab>
				<md-tab-label class="medium">
					<i class="fa fa-refresh fa-fw"></i>
					{{'transaction'|translate}}
				</md-tab-label>
				<md-tab-body>
					<div ng-if="transactions.length === 0" layout-padding layout-align="center start">
						<H2>{{'noTransactions'|translate}}</H2>
					</div>
					<md-card ng-if="transactions.length !== 0">
						<div layout="row" layout-align="space-between center" layout-padding>
							<div layout="row" layout-align="start center" layout-padding>

								<md-select ng-model="itemsOrder" placeholder="{{'orderBy'|translate}}">
									<md-option value="date" ng-click="order()">Latest</md-option>
								</md-select>				
							</div> 
						</div>

						<md-divider></md-divider>

						<md-content layout="row" layout-wrap>			
							<div ng-repeat="item in transactions|orderBy:itemsOrder:reverse" flex="100" flex-gt-xs="50" flex-gt-md="33">
								<md-card id="transactionCard">
									<md-card-title>
										<md-card-title-text>
											<span class="large"><i class="fa fa-refresh"></i>
											{{'id'|translate}}: {{item.transactionId}}</span>
											<span class="medium"><i class="fa fa-money"></i>
											{{'amount'|translate}}: {{ item.amount }}</span>
											<span class="medium"><i class="fa fa-calendar"></i>
											{{'date'|translate}}: {{ item.date|rd:0 }}</span>
											<span class="medium"><i class="fa fa-spinner"></i>
											{{'status'|translate}}: {{ item.status}}</span>						
										</md-card-title-text>
									</md-card-title>
								</md-card>

							</div>
						</md-content>

					</md-card>
				</md-tab-body>

			</md-tab>		
			<md-tab>
				<md-tab-label class="medium">
					<i class="fa fa-facebook fa-fw"></i>
					{{'shareLog'|translate}}
				</md-tab-label>
				<md-tab-body>
					<div ng-if="shareLogs.length === 0" layout-padding layout-align="center start">
						<H2>{{'noShareLogs'|translate}}</H2>
					</div>
					<md-content ng-if="shareLogs.length !== 0" layout="row" layout-wrap>		
						<div ng-repeat="item in shareLogs" flex="100" flex-gt-xs="50" flex-gt-md="33">
							<md-card id="transactionCard">
								<md-card-title>
									<md-card-title-text>
										<span class="large"><i class="fa fa-facebook-f fa-fw"></i>
										{{'id'|translate|text_fmt:2}}: {{item.shareLogId}}</span>
										<span class="medium"><i class="fa fa-globe fa-fw"></i>
										{{'gateway'|translate}}: {{ item.gateway }}</span>
										<span class="medium"><i class="fa fa-facebook-square fa-fw"></i>
										{{'date'|translate}}: {{ item.date|rd:0 }}</span>						
									</md-card-title-text>
								</md-card-title>
							</md-card>

						</div>
					</md-content>

				</md-tab-body>

			</md-tab>
								
				</md-tabs>
			</md-card>
		</div>





	</md-content>
