<div layout="row" layout-wrap layout-padding>
	<div flex="100">
		
		<md-button ng-href="#/accounts">accountList</md-button>
		<md-button ng-href="#/accounts/1">updated</md-button>
		<md-button ng-href="#/accounts">deleted</md-button>
		<form>
			<label>Username</label></br>
			<input type="text" ng-model="init_form.username" ng-disabled="isEdit"></br>
			<label>Email</label></br>
			<input type="text" ng-model="init_form.email" ng-disabled="isEdit"></br>
			<label ng-show="!isEdit">Password</br></label>
			<input type="text" ng-model="init_form.password" ng-show="!isEdit"></br>
			<label ng-show="isEdit">Type</label></br>
			<input type="text" ng-model="init_form.type" ng-disabled="isEdit" ng-show="isEdit"></br>
			<label ng-show="isEdit">Active</label></br>
			<input type="text" ng-model="init_form.active" ng-show="isEdit"></br>
			<label ng-show="isEdit">SocialMedia</label></br>
			<input type="text" ng-model="init_form.socialMedia" disabled ng-show="isEdit"></br>
			<label ng-show="isEdit">birthday</label>
			<md-datepicker ng-model="init_form.birthday" ng-show="isEdit"></md-datepicker></br>
			<input type="submit" ng-click="updateAccount()" value="Update" ng-show="isEdit">
			<input type="submit" ng-click="createAccount()" value="Create" ng-show="!isEdit">
		</form>		
		<p ng-show="isEdit">{{account}}</p>
	</div>
	<div flex="100">
		
		<HEAD>bookings</HEAD>
		<md-button ng-repeat="item in bookings" ng-href="#/bookings/{{item.bookingId}}">{{item.bookingId}}</md-button>
	</div>
	<div flex="100">
		
		<HEAD>banks</HEAD>		
		<md-button ng-repeat="item in banks" ng-href="#/banks/{{item.bankId}}">{{item.bankId}}</md-button>			
	</div>
	<div flex="100">
		
		<HEAD>enquiries</HEAD>
		<md-button ng-repeat="item in enquiries" ng-href="#/enquiries/{{item.enquiryId}}">{{item.enquiryId}}</md-button>			
	</div>
	<div flex="100">
		
		<HEAD>payments</HEAD>
		<md-button ng-repeat="item in payments" ng-href="#/payments/{{item.paymentId}}">{{item.paymentId}}</md-button>
	</div>
	<div flex="100">
		
		<HEAD>transactions</HEAD>
		<md-button ng-repeat="item in transactions" ng-href="#/transactions/{{item.transactionId}}">{{item.transactionId}}</md-button>
	</div>
	<div flex="100">
		
		<HEAD>shareLogs</HEAD>
		<md-button ng-repeat="item in shareLogs" ng-href="#/shareLogs/{{item.shareLogId}}">{{item.shareLogId}}</md-button>
	</div>
	<div flex="100">
		
		<HEAD>pushTokens</HEAD>
		<md-button ng-repeat="item in pushTokens" ng-href="#/pushTokens/{{item.pushTokenId}}">{{item.pushTokenId}}</md-button>
	</div>
	<div flex="100">
		
		<HEAD>promotions</HEAD>
		<md-button ng-repeat="item in promotions" ng-href="#/promotions/{{item.promotionId}}">{{item.promotionId}}</md-button>
	</div>
</div>
