<div flex flex-gt-md="50" layout-padding>
<h2>Create new Account</h2>
	<md-card>
		<md-card-content>
			<form name="updateAccountForm" ng-submit="createAccount()">

				<div layout-align="center center">
					<md-input-container class="md-block"> 
						<label>Email</label>
						<md-icon><i class="fa fa-envelope"></i></md-icon>
						<input ng-model="account.email" type="email" >
					</md-input-container>
					<md-input-container class="md-block">
						<label>Username</label>
						<md-icon><i class="fa fa-font"></i></md-icon>
						<input ng-model="account.username" >
					</md-input-container>
					<md-input-container class="md-block">
						<label>Password</label>
						<md-icon><i class="fa fa-asterisk"></i></md-icon>
						<input ng-model="account.password" type="password">
					</md-input-container>
				</div>


				<div>
					
					<div flex layout="row">					
						<md-button class="md-primary md-raised" flex type="submit" ng-disabled="updateAccountForm.$invalid">Create</md-button>
					</div>
				</div>
			</form>
		</md-card-content>
		
	</md-card>
</div>