<div>
	<div flex>
		<md-card>
			<div layout="row" layout-align="space-between center" layout-padding>
				<div>
					<span>{{'create'|translate}}</span>
					<md-button class="md-raised md-icon-button" ng-href="#/new/bank">           
						<i class="fa fa-plus"></i>
					</md-button>
				</div>		
				<div layout="row" layout-align="start center" layout-padding>
					<span>{{'itemsPerPage'|translate}}</span>
					<md-select ng-model="itemsPerPage" placeholder="{{'itemsPerPage'|translate}}">
						<md-option value=10>10</md-option>
						<md-option value=20>20</md-option>
						<md-option value=30>30</md-option>
					</md-select>
					<span>{{'orderBy'|translate}}</span>
					<md-select ng-model="itemsOrder" placeholder="{{'orderBy'|translate}}">
						<md-option value="date" ng-click="order()">{{'date'|translate}}</md-option>
						<md-option value="username" ng-click="order()">{{'username'|translate}}</md-option>
					</md-select>				
				</div> 	
			</div>
			<md-divider></md-divider>
			<md-content layout="row" layout-wrap>
				<H2 ng-if="banks.length === 0">{{'noBanks'|translate}}</H2>
				<div ng-repeat="item in banks|orderBy:itemsOrder:reverse|paginate:currentPageNumber:itemsPerPage" flex="100" flex-gt-xs="50" flex-gt-md="33">
					<md-card id="bookingCard">
						<md-card-title>
							<md-card-title-text>
								<span class="md-headline">{{'bankId'|translate}}: {{item.bankId}}</span>
								<span class="sub-head">{{'deposit'|translate}}: {{ item.deposit }}</span>
								<span class="sub-head">{{'cash'|translate}}: {{ item.cash }}</span>
								<span class="sub-head">{{'stamps'|translate}}: {{item.stamps}}</span>								
								<span class="sub-head">{{'date'|translate}}: {{ item.date|rd:0}}</span>	
								<span class="sub-head">
									{{'by'|translate}}: <a ng-href="{{'#/accounts/'+item.account.accountId}}">{{item.account.username}}</a>
								</span>					
							</md-card-title-text>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end center">							
							<md-button class="md-raised" ng-href="{{path+item.bankId}}">{{'details'|translate}}</md-button>	
						</md-card-actions>
					</md-card>

				</div>
			</md-content>
			<div layout="row" layout-align="space-around center">
				<md-button ng-disabled="currentPageNumber === 1" class="md-raised" ng-click="pageDown();">{{'pageUp'|translate}}</md-button>
				
				<md-button ng-disabled="currentPageNumber >= getNumberOfPages()" class="md-raised" ng-click="pageUp();">{{'pageDown'|translate}}</md-button>
			</div>
		</div>
	</md-card>


</div>
</div>