<div>
	<div flex>
		<md-card>
			<div layout="row" layout-align="space-between center" layout-padding>
				<div>
					<span>{{'create'|translate}}</span>
					<md-button class="md-raised md-icon-button" ng-href="#/new/booking">           
						<i class="fa fa-plus"></i>
					</md-button>
				</div>			
				<div layout="row" layout-align="start center" layout-padding>
					<span>{{'itemsPerPage'|translate}}</span>
					<md-select ng-model="itemsPerPage" placeholder="{{'itemsPerPage'|translate}}">
						<md-option value=10>10</md-option>
						<md-option value=20>20</md-option>
						<md-option value=30>30</md-option>
					</md-select>
					<span>{{'orderBy'|translate}}</span>
					<md-select ng-model="itemsOrder" placeholder="{{'orderBy'|translate}}">
						<md-option value="date" ng-click="order()">{{'latest'|translate}}</md-option>
						<md-option value="username" ng-click="order()">{{'username'|translate}}</md-option>
						<md-option value="active" ng-click="order()">{{'active'|translate}}</md-option>
					</md-select>				
				</div> 
			</div>
			
			<md-divider></md-divider>
			
			<md-content layout="row" layout-wrap>
				<H2 ng-if="bookings.length === 0" layout-padding>{{'noBookings'|translate}}</H2>				
				<div ng-repeat="item in bookings|orderBy:itemsOrder:reverse|paginate:currentPageNumber:itemsPerPage" flex="100" flex-gt-xs="50" flex-gt-md="33">
					<md-card id="bookingCard">
						<md-card-title>
							<md-card-title-text>

								<span class="md-headline"><i class="fa fa-book fa-fw"></i>{{'id'|translate|text_fmt:2}}: {{item.bookingId}}</span>
								<span class="md-subhead"><i class="fa fa-play fa-fw"></i> {{'startTime'|translate}}: {{ item.startDate|rd:1 }}</span>
								<span class="md-subhead"><i class="fa fa-stop fa-fw"></i> {{'endTime'|translate}}: {{ item.endDate|rd:1 }}</span>
								<span class="md-subhead"><i class="fa fa-map-marker fa-fw"></i> {{'destination'|translate}}: {{ item.destinationName}}</span>
								<span class="md-subhead"><i class="fa fa-user fa-fw"></i> {{'by'|translate}}: <a class="sub-head" ng-href="{{'#/accounts/'+item.account.accountId}}">{{item.account.username}}</a></span>
								<span class="md-subhead"><i class="fa fa-bicycle fa-fw"></i> {{'scooter'|translate}}: <a class="sub-head" ng-href="{{'#/scooters/'+item.scooter.scooterId}}">{{item.scooter.name}}</a></span>
								
							</md-card-title-text>
							<div></div>
						</md-card-title>
						<md-card-actions layout="row" layout-align="end center">							
							<md-button class="md-raised" ng-href="{{'#/bookings/'item.bookingId}}">{{'details'|translate}}</md-button>	
						</md-card-actions>
					</md-card>

				</div>
			</md-content>
			<div layout="row" layout-align="space-around center">
				<md-button ng-disabled="currentPageNumber === 1" class="md-raised" ng-click="pageDown();">{{'pageUp'|translate}}</md-button>
				
				<md-button ng-disabled="currentPageNumber >= getNumberOfPages()" class="md-raised" ng-click="pageUp();">{{'pageDown'|translate}}</md-button>
			</div>
		</div>
	</md-card>

</div>
</div>