<div flex flex-gt-md="50">
	<md-card class="large">
		<md-card-title>
			<md-card-title-text>
				<span class="md-headline" md-truncate>Title: {{help.title}}</span>
				<span class="md-subhead">Date: {{help.date}}</span>
				<span class="md-subhead">Help ID: {{help.helpId}}</span>
			</md-card-title-text>
		</md-card-title>
		<md-content layout-padding>
			<div ng-if="!uploadImage" flex style="background-image: url({{help.image.url}}); background-repeat: no-repeat; background-position: center; background-size: contain;min-height: 400px; width: 100%">   
				<md-button class="md-icon-button" ng-click="uploadPrompt()"><i class="fa fa-camera" aria-hidden="true"></i></md-button>
			</div>	

			<div ng-hide="!uploadImage" ngf-drop ngf-select ng-model="files" class="md-media-lg card-media drop-box" 
			ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
			accept="image/*" 
			ngf-pattern="'image/*'" style="min-height: 500px; width: 95%"><div style="padding-top: 80px">Drop pdfs or images here or click to upload, {{uploadStatus}}</div></div>
			<div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div> 
			<div>
				<form name="updateEnquiryForm" ng-submit="updateHelp()">

					<div layout-align="center center">
						<md-input-container class="md-block"> 
							<label>Order</label>
							<input ng-model="help.order" type="number">
						</md-input-container>
						<md-input-container class="md-block"> 
							<label>Content</label>
							<input ng-model="help.content">
						</md-input-container>
					</div>

					<div layout-gt-xs="row" layout-padding>
						
					</div>

					<div flex layout="row">					
						<md-button class="md-primary md-raised" flex="50" type="submit" ng-disabled="updateEnquiryForm.$invalid">Update</md-button>
						<md-button class="md-warn md-raised" flex="50" ng-click="showPrompt($event)">delete</md-button>
					</div>

				</form>
			</div>
		</md-content>
		
	</md-card>
</div>