<div>
	<md-content layout-gt-md="row" layout-padding>
		<div flex flex-md="35" flex-gt-md="30">
			<md-card>
				<md-card-title>
					<md-card-title-text>
						<span class="md-headline" md-truncate>{{'by'|translate}}: {{payment.account.username}}</span>

						<span class="md-subhead">{{'paymentId'|translate}}: {{payment.paymentId}}</span>
						<span class="md-subhead">{{'date'|translate}}: {{payment.date}}</span>
					</md-card-title-text>
				</md-card-title>
				<md-content layout-padding>	
					<form name="updatePaymentForm" ng-submit="updatePayment()">

						<div layout-align="center center">
							<md-input-container class="md-block"> 
								<label>{{'method'|translate}}</label>
								<input ng-model="payment.method">
							</md-input-container>
							<md-input-container class="md-block"> 
								<label>{{'credential1'|translate}}</label>
								<input ng-model="payment.credential1">
							</md-input-container>
							<md-input-container class="md-block"> 
								<label>{{'credential2'|translate}}</label>
								<input ng-model="payment.credential2">
							</md-input-container>
							<md-input-container class="md-block"> 
								<label>{{'credential3'|translate}}</label>
								<input ng-model="payment.credential3">
							</md-input-container>

						</div>

						<div layout-gt-xs="row" layout-padding layout-align="space-between center">
							<div>			
								<span>{{'username'|translate}}: </span>
								<md-button class="md-raised" ng-href="#/accounts/{{payment.account.accountId}}">{{payment.account.username}}</md-button>

							</div>
							<md-switch flex="45" ng-model="scooter.active" aria-label="Switch 1" ng-change="">{{payment.active?"activated":"deactivated"|translate}}</md-switch>
						</div>

						<div flex layout="row">					
							<md-button class="md-primary md-raised" flex="50" type="submit" ng-disabled="updatePaymentForm.$invalid">{{'udpate'|translate}}</md-button>
							<md-button class="md-warn md-raised" flex="50" ng-click="showPrompt($event)">{{'delete'|translate}}</md-button>
						</div>

					</form>

				</md-content>

			</md-card>
		</div>
		<div flex>
			<md-card style="min-height: 607.898px">
				<div layout="row" layout-align="space-between center" layout-padding>
					<div layout="row" layout-align="start center" layout-padding>
						<span>{{'itemsPerPage'|translate}}</span>
						<md-select ng-model="itemsPerPage" placeholder="{{'itemsPerPage'|translate}}">
							<md-option value=10>10</md-option>
							<md-option value=20>20</md-option>
							<md-option value=30>30</md-option>
						</md-select>
						<span>{{'orderBy'|translate}}</span>
						<md-select ng-model="itemsOrder" placeholder="{{'username'|translate}}">
							<md-option value="date" ng-click="order()">{{'latest'|translate}}</md-option>
						</md-select>				
					</div> 
				</div>

				<md-divider></md-divider>

				<md-content layout="row" layout-wrap>
					<H2 ng-if="transactions.length === 0">{{'noTransactions'|translate}}</H2>				
					<div ng-repeat="item in transactions" flex="100" flex-gt-xs="50" flex-gt-md="33">
						<md-card id="transactionCard">
							<md-card-title>
								<md-card-title-text>
									<span class="md-headline">{{'transactionId'|translate}}: {{item.transactionId}}</span>
									<span class="sub-head">{{'amount'|translate}}: {{ item.amount }}</span>
									<span class="sub-head">{{'date'|translate}}: {{ item.date }}</span>
									<span class="sub-head">{{'status'|translate}}: {{ item.status}}</span>						
								</md-card-title-text>
							</md-card-title>
						</md-card>

					</div>
				</md-content>
				<div ng-if="transactions.length !== 0" layout="row" layout-align="space-around center">
					<md-button class="md-raised" ng-click="currentPageNumber--">{{'pageUp'|translate}}</md-button>
					<md-button class="md-raised" ng-click="currentPageNumber++">{{'pageDown'|translate}}</md-button>
				</div>

			</md-card>
		</div>

	</md-content>
</div>