<div>

	<md-card>
		<div layout="row" layout-align="space-between center" layout-padding>
			<div>
				<span>{{'create'|translate}}</span>
				<md-button class="md-raised md-icon-button" ng-href="#/new/scooter">           
					<i class="fa fa-plus"></i>
				</md-button>
			</div>	
			<div layout="row" layout-align="start center" layout-padding>
				<span>{{'itemsPerPage'|translate}}</span>
				<md-select ng-model="itemsPerPage" placeholder="Item per page">
					<md-option value=10>10</md-option>
					<md-option value=20>20</md-option>
					<md-option value=30>30</md-option>
				</md-select>
				<span>{{'orderBy'|translate}}</span>
				<md-select ng-model="itemsOrder" placeholder="Item per page">
					<md-option value="date" ng-click="order()">{{'latest'|translate}}</md-option>
					<md-option value="name" ng-click="order()">{{'name'|translate}}</md-option>
					<md-option value="scooterId" ng-click="order()">{{'scooterId'|translate}}</md-option>
					<md-option value="active" ng-click="order()">{{'active'|translate}}</md-option>
				</md-select>				
			</div> 
			
		</div>
		<md-divider ></md-divider>
		
		<div layout="row" layout-wrap>
			<div flex="100" flex-gt-xs="50" flex-gt-md="33" ng-repeat="item in scooters|orderBy:itemsOrder:reverse|paginate:currentPageNumber:itemsPerPage">
				<md-card>
					<md-card-title>
						<md-card-title-text>
							<span class="md-headline">{{item.name}}</span>
							<span class="md-subhead">{{'scooterId'|translate}}: {{item.scooterId}}</span>
							<span class="md-subhead">{{'battery'|translate}}: {{item.battery}}</span>
						</md-card-title-text>
						<md-card-title-media>
							<div class="md-media-sm" style="background-image: url({{item.image.url}}); background-color: #C0C0C0; background-repeat: no-repeat; background-position: center; background-size: contain;">            
							</div>
						</md-card-title-media>
					</md-card-title>
					<md-card-actions layout="row" layout-align="end center"> 
						<md-switch ng-model="item.active" aria-label="Switch 1" ng-change>{{(item.active)?"activated":"deactivated"|translate}}</md-switch>
						<md-button class="md-raised" ng-href="{{'#/scooters/'+item.scooterId}}">{{'details'|translate}}</md-button>
					</md-card-actions>
				</md-card>
			</div>
		</div>
		<div layout="row" layout-align="space-around center">
			<md-button ng-disabled="currentPageNumber === 1" class="md-raised" ng-click="pageDown();">{{'pageUp'|translate}}</md-button>
			
			<md-button ng-disabled="currentPageNumber >= getNumberOfPages()" class="md-raised" ng-click="pageUp();">{{'pageDown'|translate}}</md-button>
		</div>
	</md-card>      
</div>
