<div>
	<div layout="row" layout-wrap layout-padding>
		<div flex="100">
			<head>scooter</head>
			<md-button ng-href="#/scooters">scooterList</md-button>
			{{scooter}}
			<md-button ng-href="#/scooters/1">updated</md-button>
			<md-button ng-href="#/scooters">deleted</md-button>

		</div>
		<div flex="100">
			<head>bookings</head>
			<md-button ng-repeat="item in bookings" ng-href="#/bookings/{{item.bookingId}}">{{item.bookingId}}</md-button>
			<md-button ng-href="#new/booking">create booking</md-button>
		</div>
	</div>
	
</div>